/**
 * Icon styles
 *
 */

.has-error,
.valid-card {

  .input-wrapper {

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 9;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      background-image: url("images/icons.svg");
      background-size: 20px 100px;
      background-position: 0 -20px;
    }
  }
}

.valid-card {

  .input-wrapper {

    &:after {
      background-position: 0 0;
    }
  }
}

.processing {

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 9;
    top: 7px;
    left: 9px;
    width: 20px;
    height: 20px;
    background-image: url("images/icons.svg?1");
    background-size: 20px 100px;
    background-position: 0 -40px;
    @include custom-animation(spin, 2s, 0, linear);
    animation-iteration-count: infinite;
  }

}

@keyframes spin {
  from {  transform: rotate(0deg); }
  to {    transform: rotate(359deg);  }
}
