/**
 * Global base styles
 */

html {
  font-size: $font-size-base;
}

html, body, .wrapper {
  min-height: 100%;
  min-height: 100vh;
  //only works in IE with height set to 100vh (min-height doesnt work)
}

body {
  background-color: $grey-vlight;
}

.wrapper {
  @include media-min-width(tablet) {
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: convertToEm(320px);
  padding-left: $container-padding;
  padding-right: $container-padding;
  @include center;

  @include media-max-width(mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.main {
  margin-bottom: 3em;

  @include media-min-width(tablet) {
    flex-grow: 1;
  }

  @include media-max-width(mobile) {
    margin-bottom: 1.5em;
  }

  .no-flexbox & {
    @extend .clearfix;
  }
}

